.exchange-card {
  min-width: 20%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(80, 80, 80));
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.164);
}
